body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=000000&c2=4f8828&gt=l&gd=dtr
  */
  background: #000000;
  background: linear-gradient(225deg, #000000, #4F8828);
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

